<!-- Slider Block -->
<div id="slider_holder">
  <div id="slider">
    <!-- List of slides -->
    <ul id="sliderContent">
      <li class="sliderImage">
        <%= image_tag('slider/1.jpg', :alt => "1" ) %>
        <span class="top"><strong>Ruby Is Fast</strong><br />Ruby provides a benchmarking library to make your job easy. The 'benchmark' library provides a few classes that will automatically benchmark your code and allow you to inspect the results.</span>
      </li>
      <li class="sliderImage">
        <%= image_tag('slider/2.jpg', :alt => "2" ) %>
        <span class="bottom"><strong>Ruby Is Secure</strong><br />Security vulnerabilities should be reported via an email to security@ruby-lang.org</span>
      </li>
      <li class="sliderImage">
        <%= image_tag('slider/3.jpg', :alt => "3" ) %>
        <span class="left"><strong>Ruby Is Robust</strong><br />You can certainly build robust business applications with Rails</span>
      </li>
      <li class="sliderImage">
        <%= image_tag('slider/4.jpg', :alt => "4" ) %>
        <span class="right"><strong>Ruby Is Friendly</strong><br />The famous Hello World  program is trivial in Ruby.</span>
      </li>
      <li class="clear sliderImage"></li>
    </ul>
  </div>
</div>